<div class="conference__header text-center">
    <h2>Lorem ipsum dolor. Ismet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
</div>

<ul class="nav nav-tabs conference__tab" id="conferencesTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="featured-tab" data-bs-toggle="tab" data-bs-target="#featured" type="button"
            role="tab" aria-controls="featured" aria-selected="true">Featured Conferences</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="recommended-tab" data-bs-toggle="tab" data-bs-target="#recommended" type="button"
            role="tab" aria-controls="recommended" aria-selected="false">Recommended Conferences</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="past-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab"
            aria-controls="past" aria-selected="false">Past Conferences</button>
    </li>
</ul>

<div class="tab-content conference__tab-content" id="conferencesTabContent">
    <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
        {{ drupal_view('conference', 'block_1', 'Featured') }}
    </div>
    <div class="tab-pane fade" id="recommended" role="tabpanel" aria-labelledby="recommended-tab">
        {{ drupal_view('conference', 'block_1', 'Recommended') }}
    </div>
    <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
        {{ drupal_view('conference', 'block_1', 'Past') }}
    </div>
</div>