// Fonts
$primary-font: 'Montserrat', sans-serif;
$default-font: $primary-font;

// General Color
$primary-color: $default-font;
$secondary-color: #017fd5;

$default-color: #7c8993;
$color-dark-grey: #424a55;
$color-light-grey: $default-color;
$color-blue: $secondary-color;
$color-dark-blue: #0b80cf;
$color-blue-light: #0b80cf;
$color-white: #fff;
$color-black: #000;
$color-green: #11d16f;

/* Border  Color */
$border-blue: #017fd5;
$border-light-grey: #ebebeb;

// path
$images-path: '..';
